

    <!-- </div> --> -->
    <!-- <div class="row">
        <div id="left-panel" class=" panel col-md-7 no-float" style="background-color:#005B8D;">

        <div class= "col-md-6 col-md-offset-3" id="logohomepage">
          <img src="/images/muselogo.png" >
      </div>
    </div>

        <div id="right-panel" class="panel col-md-5 no-float" style="background-color:white;"></div>


    </div>
  </div> -->

  <!-- <div class= "col-md-6 col-md-offset-3 logo" id="logohomepage"> -->
<div class="container">
  <div class= "logo" >
    <img src="/images/muselogo.png" >
  </div>
  <div class = "start">
  <div class="page-scroll btn btn-xl">
    <%= link_to "Login", new_user_session_path %></div>
</div>
</div>


<style>

body { background-color:#005B8D }

.btn-xl {
    color: white;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 30px;

}

.start{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.logo{

  display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 130px;
}

img {

  width: 350px;
  height: 300px;


}

</style>
