
  <!-- <div class="row">
      <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
      <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>

    </div> -->
    <div class="row">
        <div id="left-panel" class=" panel col-md-7 no-float" style="background-color:#005B8D;">

        <div id="logohomepage">
          <img src="/images/muselogo.png" >
      </div>
    </div>

        <div id="right-panel" class="panel col-md-5 no-float" style="background-color:white;"></div>


    </div>


<style>
img {
  /*display: table-cell;*/
  /*text-align: center;*/
  vertical-align: middle;
  /*margin: 0 auto;*/
  width: 350px;
  height: 280px:
  padding: 25% 25% 18% 25% ;
}
</style>
