
  <!-- <div class="row">
      <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
      <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>

    </div> -->
    <div class="row">
        <div class="col-md-6 no-float" style="background-color:lavender;">
          <h2>Home Page</h2>

          <p>This would be a static home page in a Rails application.</p>
        </div>
        <div class="col-md-6 no-float" style="background-color:lavenderblush;">Content</div>
    </div>
