
  <!-- <div class="row">
      <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
      <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>

    </div> -->
    <div class="row">
        <div id="left-panel" class=" panel col-md-7 no-float" style="background-color:#00b3e3;">
          <h2>MUSE</h2>


        </div>
        <div id="right-panel" class="panel col-md-5 no-float" style="background-color:white;"></div>
    </div>
