<p class = "title"> Edit Thoughts </p>

<!-- <%= image_tag(@post.image.url(:medium)) %> -->
<br>
<%= render 'form' %>
<!-- 
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %> -->


<style>

@import url(https://fonts.googleapis.com/css?family=Courgette);

.title {
font-family: 'Courgette', cursive;
  font-size: 35px;
  color: 	#0878a6;
  padding-top: 20px;


}


</style>
